html,body{width:100%;height:100%;}
* {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
html,body{
width: 100%;
height: 100%;
}
img{border:none;vertical-align:middle;}
ul,ol{list-style:outside none none;}
.mui-content{
width: 100%;
height: 100%;
}
html {
  font-size:62.5%;
  color: #666;
  font-family: 'Microsoft Yahei'  'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
}
body{
height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;
background:#F1F1F1;
}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
img {
  border: none;
  vertical-align: middle;
}
a {
  text-decoration: none;
  outline: none;

-webkit-tap-highlight-color: transparent; 
}
a:active { outline: 0; }
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
.comlogo{
	width:40px;
	height:40px;
	font-size:36px!important;
	color:#FFF;
	line-height:42px;
	text-align:center;
	display:inline-block;
	-webkit-border-radius:100%;
	border-radius:100%;
}
em {
  font-style: normal;
}
input {
  outline: none;
}
input[type="text"],
input[type="tel"] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: 0; 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }



/*
 * 公共的
 */
.fl{float:left;}
.fr{float:right;}
.topColor{background:#299CEF;}
.mr10{
	margin-right:10px;
}
.mb15{
	margin-bottom:15px;
}
.mb10{
	margin-bottom:10px;
}
.mb20{
	margin-bottom:20px;
}
.mb5{
	margin-bottom:5px;
}
.pb50{
	padding-bottom:50px;
}
.comFont_color{
	color:#8f8f94;
	font-size:1.4rem;
	font-weight: 500;
}
h3{
	position: relative;
	font-size:1.8rem;
	font-weight:500;
	padding:10px 15px;
	margin-bottom:0;
	color:#222222;
	background:#FFF;
	/*background:transparent;*/
	border-top:1px solid #DEDEDE;
	border-bottom:1px solid #DEDEDE;
}

.muiDetail{
	background:#FFF;
	/*padding:10px 15px;*/
	color:#848484;
	font-size:1.4rem;
	text-align: left;
}
.muiMark{
	background:#FFF;
	padding:0px 15px;
	color:#9A9A9A;
	font-size:1.4rem;
}
.btnState{
	display:inline-block;
	padding:0 8px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#FFF;
	font-size: 1.3rem;
	font-weight: normal;
	line-height: 24px;
	height: 20px;
	margin-top: 4px;
}
.alarm-status{
	padding:0 6px;color:#FFF;font-size: 1.2rem; background:#0680C9;
	line-height: 24px;
	margin-top: 2px;
}
.redColor{
	background-color:#DB0100;
}
.blueColor{
	background-color:#067FC8;
}
.greenColor{
	background-color:#90C31E;
}
.orangeColor{
	background-color:#ff9900;
}
.yellowColor{
	background-color:yellow;
}
.Timecolor{
	/*color:#5C5C5C;*/
}
.scile{
	display:inline-block;
	width:8px;
	height:8px;
	overflow:hidden;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.emergency{
	font-size:1rem;
	position: absolute;
	right:15px;
	top:50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.sileSize{
	font-size:1.2rem;
	margin-left:5px;
}
.scileHeight{
	background:#DB0001;
}
.scileMiddle{
	background:#EE7700;
}
.scileLow{
	background:#949494;
}

.sileHeight{
	color:#DB0001;
}
.sileMiddle{
	color:#EE7700;
}
.sileLow{
	color:#949494;
}
.com_detail_color{
	color:#8f8f94;
	font-size: 1.4rem;
}

.detailTitle{
	font-weight:500;
	color:#222222;
}
.com_dt dt{
	margin-bottom:5px;
}
.com_squ{
	display:inline-block;
	width:14px;
	height:14px;
	background:#1F95DD;
	border-radius:100%;
	-webkit-border-radius:100%;
	-webkit-box-shadow: 0px 0px 2px #1F95DD;
	box-shadow: 0px 0px 2px #1F95DD;
	position: absolute;
	left:18px;
	top:6px;
}
.com_squ1{
	display:inline-block;
	width:18px;
	height:18px;
	left:16px;
	top:6px;
	background:#1F95DD;
	border-radius:100%;
	-webkit-border-radius:100%;
	position: absolute;
	-webkit-box-shadow: 0px 0px 2px #1F95DD;
	box-shadow: 0px 0px 2px #1F95DD;
}



.bubble{
	position: relative;
	background:#FFF;
	padding:10px 15px;
	/*border:1px solid #DEDEDE;*/
	box-sizing: border-box;
	border-radius: 5px;
	-webkit-border-radius:5px;
	box-shadow:2px 2px 5px 2px #DEDEDE;
	-webkit-box-shadow:2px 2px 5px 2px #DEDEDE;
}
.bubble:before{
	position: absolute;
	right:100%;
	top:10px;
	content:'';
	display:block;
	width:0px;
	height:0px;
	border-width:5px;
	border-style: solid;
	border-color: transparent;
	border-right-color: #FFF;
}

.comp.bubble:before{
	position: absolute;
	right:100%;
	top:10px;
	content:'';
	display:block;
	width:0px;
	height:0px;
	border-width:5px;
	border-style: solid;
	border-color: transparent;
	border-right-color: #E2E6E9;
}
.line1{
	position: relative;
	padding:15px;
}

.line{
	display:block;
	width:1px;
	height:100%;
	background:#DEDEDE;
	position: absolute;
	left:40px;
	top:0px;
}
.end{
	position: absolute;
	bottom:0;
	display:inline-block;
	width:20px;
	height:10px;
	background:#1F95DD;
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.35);
}
.comp{
	background:#E2E6E9;
	color:#8f8f94;
}
#bottom_bar{
	visibility: hidden;
}
.conp{
	background:#E2E6E9;
	-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 1px rgba(0,0,0,0.35);
}
.barLine{
	box-shadow:0 0 1px rgba(0,0,0,0.35);
	-webkit-box-shadow:0 0 1px rgba(0,0,0,0.35);
}
.barLine a{
	height:36px;
	border-right:1px solid #DEDEDE;
}
#phone{
	display:inline-block;
	position:absolute;
	width:30px;
	height:30px;
	-webkit-border-radius:100%;
	border-radius:100%;
	right:20px;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.btnLine{
	background:#DEDEDE;
	height:1px;
	overflow:hidden;
	width:100%;
}
.scilFont{
	display:inline-block;
	width:20px;
	height:20px;
	line-height:20px;
	color:#FFF;
	text-align:center;
	font-size:1.2rem;
}
h4{
	font-size:1.4rem;
	font-weight: 500;
	color:#222222;
}
h4 > span{
	display:inline-block;
	width:12px;
	height:12px;
	line-height:12px;
	-webkit-border-radius:50%;
	border-radius:50%;
	background:#299CEF;
}
.faultBox{
	margin-left:15px;
	padding:10px 0;
}
.faultUser{
	margin-left:15px;
	padding:2px 0;
}
.faultUser span{
	color:#9A9A9A;
	font-size:1.4rem;
	display: block;
	text-align: left;
}



/* 暂无数据记录 */
.t-norecord { text-align: center; padding-top: 10px;background-color: #FFFFFF; }
.t-norecord i { font-size: 30px; line-height: 30px; color: #D8D8D8;}
.t-norecord p { font-size: 14px; margin: 0; line-height: 24px; color: #999;}
