<!--
	作者：yeshengqiang
	时间：2016-06-27
	描述：门禁
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>新风</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>

		<style>
			.mui-slider-indicator.mui-segmented-control.mui-segmented-control-inverted{
				border-bottom:2px solid #c8c7cc;
			}
			.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{
				border:none;
			}
			.mui-control-content {
				background-color: white;
				min-height: 345px;
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			.barNav{
				list-style: none;
				background: #FFFFFF;
				padding:5px 0;
				margin-bottom:10px;
				border-top:1px solid #DEDEDE;
				border-bottom:1px solid #DEDEDE;
			}
			.barNav li{
				float:left;
				border-right:1px solid #DEDEDE;
				padding:4px 0;
				font-size:1.4rem;
				color:#9C9C9C;
				text-align:center;
			}
			.mui-icon{
				font-size:1.4rem;
			}
			.searchData{
				margin: 15px 15px 0;
			}
			
				.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
			
			.oa-contact-avatar {
				width: 75px;
			}
			
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			
			.oa-contact-content {
				width: 100%;
			}
			
			.oa-contact-name {
				margin-right: 20px;
			}
			
			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
			
			.chart {
				height: 200px;
				margin: 0px;
				padding: 0px;
			}
			
			h5 {
				margin-top: 30px;
				font-weight: bold;
			}
			
			h5:first-child {
				margin-top: 15px;
			}
		</style>	
	</head>
	<body>
		<header class="mui-bar mui-bar-nav topColor">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" style="color:#FFF;">设备监控-(新风)</h1>
		</header>
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#realTime">实时</a>
					<a class="mui-control-item" href="#alarm">告警</a>
					<a class="mui-control-item" href="#analysis">统计分析</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="realTime" data-state="realTime" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div id="realTimelist" class="mui-scroll">
								<div class='mui-loading'>
									<div class='mui-spinner'></div>
								</div>				
							</div>
						</div>
					</div>
					<div id="alarm" data-state="alarm" class="mui-slider-item mui-control-content">
						<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
							<div class="mui-scroll">
								<ul class="mui-col-xs-12 barNav clearfix">
									<li class="mui-col-xs-3">未处理
										<span class="mui-icon mui-icon-arrowdown"></span>
									</li>
									<li class="mui-col-xs-3" style="border:none;">与我相关
										<span class="mui-icon mui-icon-arrowdown"></span>
									</li>
								</ul>
								<div class="mui-col-xs-12" id="alarmlist">
									<!--<div class="mui-loading">
										<div class="mui-spinner"></div>
									</div>-->
								</div>
							</div>
						</div>
					</div>
			
					<div id="analysis" class="mui-slider-item mui-control-content">
						<div id="scroll3" class="mui-scroll-wrapper">                            
							<div class="mui-content">
								<div>
									<div id="segmentedControl" class="mui-segmented-control">
										<a class="mui-control-item mui-active" href="#item1">
											故障统计
										</a>
										<a class="mui-control-item" href="#item2">
											耗电量统计
										</a>
									</div>									
								</div>								
							</div>
							
							<div style="margin-top: 50px;">
								<div id="item1" class="mui-control-content mui-active">
									<div id="scroll" class="mui-scroll-wrapper">
										<div class="mui-scroll">
											<div class="mui-content" style="margin-top: 0px;">
												<div >
													<div class="chart" id="lineChart">
													</div>
												</div>
											</div>
										</div>
									</div>					
								</div>
								
								<div id="item2" class="mui-control-content mui-active">
									<div id="scroll" class="mui-scroll-wrapper">
										<div class="mui-scroll">
											<div class="mui-content" style="margin-top: 0px;">
												<div>
													<div class="chart" id="lineChart2">
														
													</div>
												</div>
											</div>
										</div>
									</div>	
								</div>
								
							</div>	
						</div>
					</div>
				
				</div>
			</div>
		</div>
		<script id="realTimeTmpl" type="text/html">
			<ul class="mui-table-view">
				{{each beans}}
					{{if $value.deviceNum!=0}}
					<li data-id="{{$value.buildingId}}" data-name="{{$value.buildingDesc}}" class="mui-table-view-cell mui-media realTime">
						<a class="mui-navigate-right" href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="../../image/icon-3.png">
							<div class="mui-media-body">
								{{$value.buildingDesc}}
								<p class='mui-ellipsis'>
									<span>数量:</span>
									<span>{{$value.deviceNum}}台</span>
								</p>
							</div>
						</a>
					</li>
					{{/if}}
				{{/each}}
			</ul>
		</script>
		<script id="alarmTmpl" type="text/html">
			{{each beans}}
				<div class="mui-col-xs-12 mb5 dataList">
					<h3>{{$value.deviceName}}
						<span class="emergency mui-pull-right">
							{{if $value.warningLevel == 0}}
							    <span class="scile scileLow"></span>
								<span class="sileSize sileLow">低</span>
							{{else if $value.warningLevel == 2}}
							    <span class="scile scileMiddle"></span>
								<span class="scile scileMiddle"></span>
								<span class="sileSize sileMiddle">中</span>
							{{else}}
							    <span class="scile scileHeight"></span>
								<span class="scile scileHeight"></span>
								<span class="scile scileHeight"></span>
								<span class="sileSize sileHeight">高</span>
							{{/if}}
						</span>
					</h3>
					<div class="mui-col-xs-12 muiDetail">
						{{$value.eventDescribe}}
					</div>
					<div class="mui-col-xs-12 muiDetail">
					    {{if $value.eventProcessStatus == 1}}
						    <span class="btnState redColor">未恢复</span>
						{{else if $value.eventProcessStatus == 2}}
						    <span class="btnState blueColor">处理中</span>
						{{else}}
						    <span class="btnState greenColor">已恢复</span>
						{{/if}}
						<span class="Timecolor">{{$value.applyTime}}</span>
						<a data-id="{{$value.warningEventId}}" data-uid="{{$value.warningCategoryId}}" class="mui-pull-right goToDel" href="javascript:void(0);">
							查看详情
							<span class="mui-icon mui-icon-arrowright"></span>
						</a>
					</div>
				</div>
		    {{/each}}
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/echarts-all.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/analysisEcharts.js"></script>
		<script>
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						callback: pullupRefresh
					}
				},
				preloadPages:[{                      //预加载页面
				    id:'securityDetail',
				    url:'../task/securityDetail.html'
				}]
			});
			mui.plusReady(function(){
				var isLogin = plus.storage.getItem('userInfo');
//				console.log(self.bstate);
				//这边这个self.bstate是上一个视图选择已处理和未处理过来的数据要查询的
				var resHeight = window.innerHeight - 84;
				mui('.mui-control-content').each(function(){
					this.setAttribute("style","min-height:"+resHeight+"px;");
					var isActive = this.classList.contains('mui-active') ? true : false;
					if(isActive){
						var state = this.getAttribute('data-state');
						if(state == 'realTime'){
							getrealTime();//第一次进来加载第一页数据
						}else if(state == 'alarm'){
							getalarmTime();
						}else{
							getanalysisTime();
						}
					}
				});
				var alarm = document.getElementById('alarm');
				var analysis = document.getElementById('analysis');
				document.getElementById('slider').addEventListener('slide', function(e) {
					if (e.detail.slideNumber === 1) {
						if (alarm.querySelector('.mui-loading')) {
							getalarmTime();
						}
					} else if (e.detail.slideNumber === 2) {
						if (analysis.querySelector('.mui-loading')) {
							getanalysisTime();
						}
					}
				});
			    mui('.mui-scroll-wrapper').scroll({
			        indicators: true //是否显示滚动条
			    });
			});
			var alarmCount = 1;
			var alarmPage=1;
			//获取实时数据
			function getrealTime() { //获取工单列表
				var count = 1
				mui.ajax({
					url: "http://192.168.92.201:28090/cwp/front/sh/intebuilding!execute",
					type: "get",
					async: true,
					data: {
						uid: 'i0011',
						deviceTypeCode:'1003186'
					},
					dataType: "json",
					timeout: 10000,
					success: function(data) {
						var realTimelist = document.getElementById("realTimelist");
						var html = template('realTimeTmpl', data);
						if(count==1){
							realTimelist.innerHTML = html;
						}else{
							realTimelist.innerHTML += html;
						}
						count++;
					},
					error: function(xhr, type, errorThrown) {
						if(type=='timeout'){
							mui.toast('请求超时:请检查网络!');
						}else {
							mui.toast('数据加载失败!');
							return;
						}
					}
				});
			};
			//获取警告数据
			function getalarmTime() { 
				//获取工单列表
				var self = plus.webview.currentWebview();
				alarmCount = 1;
				alarmPage=1;
				mui.ajax({
					url: "http://192.168.92.201:28090/cwp/front/sh/warningEvent!execute",
					type: "get",
					async: true,
					data: {
						uid: 'c001',
						currentPage:alarmPage,
						pageSize:'5',
						dictValue:'1003186', 
						eventProcessStatus:self.bstate,
						eventType:1
					},
					dataType: "json",
					timeout: 10000,
					success: function(data) {
						var getalarmlist = document.getElementById("alarmlist");
						var html = template('alarmTmpl', data);
						if(alarmCount==1){
							getalarmlist.innerHTML = html;
						}else{
							getalarmlist.innerHTML += html;
						}
						alarmCount++;
					},
					error: function(xhr, type, errorThrown) {
						if(type=='timeout'){
							mui.toast('请求超时:请检查网络!');
						}else {
							mui.toast('数据加载失败!');
							return;
						}
					}
				});
			};
			//获取统计分析数据
			function getanalysisTime() { //获取工单列表
				var count = 1;
				mui.ajax({
					url:'./json/realTime.json',
					//url: http://192.168.92.201:28090/cwp/front/sh/intebuilding!execute",
					type: "get",
					async: true,
					data: {
						uid: 'i002',
						pageSize:'5',
						dictValue:'', 
						eventProcessStatus:'',
						eventType:3
					},
					dataType: "json",
					timeout: 10000,
					success: function(data) {
						var getanalysislist = document.getElementById("analysislist");
					},
					error: function(xhr, type, errorThrown) {
						if(type=='timeout'){
							mui.toast('请求超时:请检查网络!');
						}else {
							mui.toast('数据加载失败!');
							return;
						}
					}
				});
			};
			
			
			//实时点击查看详情
			mui('.mui-content').on('tap','.realTime',function(){
				var name = this.getAttribute('data-name');
				//打开页面
				mui.openWindow({
					url: "sewage_subdir/subReal.html",
					id: "subReal",
					waiting: {
						autoShow: false
					},
					extras:{
						name:name//获取data-name中的值？
					}
				});
			});
			//告警点击查看详情
			/**
			 * 加载数据
			 */
			var detailPage = null;
			mui('.mui-content').on('tap','.goToDel',function(){
				//console.log(abData);
					var warningEventId = this.getAttribute("data-id");
					var warningCategoryId = this.getAttribute("data-uid");
					//判断是否有这个页面
					if(!detailPage){
					    detailPage = plus.webview.getWebviewById('securityDetail');
					}
					//自定义事件
					plus.nativeUI.showWaiting();
					mui.fire(detailPage,'detailId',{
					    warningEventId:warningEventId,
					    warningCategoryId:warningCategoryId
					});
					setTimeout(function() {
						plus.nativeUI.closeWaiting();
					}, 200);
					//打开页面
					mui.openWindow({
					  id:'securityDetail',
					  waiting: {
						autoShow: false
					  }
					});
			});
			//分析点击查看详情
			mui('.mui-content').on('tap','.analysis',function(){
				console.log(3);
			});
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++alarmCount > 2)); //参数为true代表没有更多数据了。
					alarmPage++;
					getalarmTime() ;
				}, 1500);
			}
			if (mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
		</script>
	</body>

</html>