<!--
	作者：yeshengqiang
	时间：2016-06-28
	描述：维修任务列表详情
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>故障告警-处理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" href="text/css" href="../../js/mask/mask.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/new.css"/>
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css">
		<style>
			.mui-icon{
				font-size:1.4rem;
			}
			.searchData{
				margin: 15px 15px 0;
			}
			.fault{
				background:#FFF;
				padding:15px;
			}
			.faulter{
				padding:0 30px;
				list-style:none;
			}
			.deal{
				padding:0px 15px;
				background:#FFF;
				line-height:23px;
			}
			.dealer{
				font-size:1.4rem;
				font-weight:500;
				color:#222222;
			}
			.accepter{
				background:#DEDEDE !important;
				border-color:#DEDEDE !important;
				color:#FFF !important;
			}
			.mui-button-row {
				padding: 10px;
			}
			.isShow{
				display:none;
				filter:alpha(opacity:100);
				opactiy:1;
				-webkit-transition: 1s opacity all;
				-moz-transition: 1s opacity all;
				transition: 1s opacity all;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">故障告警-处理</h1>
		</header>
		<div class="mui-content">
			<div class="mui-col-xs-12 mb5 dataList">
				<div class="mui-col-xs-12" id="dealTmpl">
					<!--头部详情部分-->
					
				</div>
				<div class="mui-col-xs-12"style="background:#FFF;">
					<div class="mui-col-xs-12">
						
						<ul class="mui-table-view dealer">
							<li class="mui-table-view-cell">
								<span>生成维修工单</span>
								<div id="mui-swit" class="mui-switch">
									<div class="mui-switch-handle"></div>
								</div>
							</li>
						</ul>
						<ul class="mui-table-view dealer isShow">
							<li id="severs" class="mui-table-view-cell">
								<a class="mui-navigate-right">
									<span>维修服务</span>
									<span class='mui-pull-right' id="change_sever" style="margin-right:15px;">有偿服务</span>
								</a>
							</li>
							<li id="money" class="mui-table-view-cell hiddle">
								<span>费用预估(元)</span>
								<span class="mui-pull-right">
									<span id="lead_money">100.00</span>
								</span>
							</li>
							<li id="end_time" data-options='{}' class="mui-table-view-cell">
								<span>计划完成时间</span>
								<span class="mui-pull-right">
									<span id="estimated_finish_time">2016-10-22 19:30:48</span>
									<span style="margin-left:5px;vertical-align: -1px;" class="icon iconfont icon-rili"></span>
								</span>
							</li>
						</ul>
						<div class="dealer" style="padding:11px 15px;">
							<!--维修说明部分-->
							<div class="mui-input-row isShow">
								<div class="mb5">维修说明:</div>
								<textarea id="textarea1" rows="5" class="dealer" placeholder="请输入描述"></textarea>
							</div>
							<!--描述部分-->
							<div class="mui-input-row">
								<div class="mb5">情况描述:</div>
								<textarea id="textarea2" rows="5" class="dealer" placeholder="请输入描述"></textarea>
							</div>
						</div>
					</div>
					<div class="mui-button-row" >
						<button class="mui-btn mui-btn-red" id="subit" type="button">提交</button>
					</div>
				</div>
			</div>
		</div>
		<!--信息部分-->
		<script id="dealTmp" type="text/html">
			<div class="message-top-pannel">
				<div class="message-top-box">
					<div class="message-padding clearfix">
						<span class="mb5 mr10 icon iconfont icon-menjinxitong mui-pull-left comlogo {{warningLevel | colorFormat}}"></span>
						<div class="message-info-group mb5">
							<div class="message-info-list clearfix">
								<div class="message-add comFont_color">
									处理状态：{{eventProcessStatus | dealerFormat}}
								</div>
								<span class="message-level">
									{{if warningLevel == 0}}
									    <span class="scilFont blueColor">低</span>
									{{else if warningLevel == 1}}
									    <span class="scilFont yellowColor">中</span>
									{{else if warningLevel == 2}}
									    <span class="scilFont orangeColor">高</span>							
									{{else if warningLevel == 3}}
									    <span class="scilFont redColor">紧急</span>
									{{/if}}
								</span>
							</div>
							<div class="message-info-box com_detail_color">
								告警编号：{{alarmNumber}}
							</div>
						</div>
						<div class="btnLine mb5"></div>
						<ul class="com_detail_color">
							<li>告警位置：{{buildingName}}</li>
							<li>告警描述：{{eventDescribe}}</li>
							<li>处理报告：{{if handleTime==''}}未处理{{else}}{{handleOpinion}}{{/if}}
							</li>
						</ul>
					</div>					
				</div>	
			</div>
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/mask/mask.js"></script>
		<script src="../../js/mui.conf.js"></script>
		<script src="../../js/home/securityReport.js"></script>
	</body>
</html>
