<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>安防预警详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/mask/mask.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/new.css"/>
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css">
		<style>
			.barNav{
				list-style: none;
				background: #FFFFFF;
				padding:5px 0;
				margin-bottom:10px;
				border-top:1px solid #DEDEDE;
				border-bottom:1px solid #DEDEDE;
			}
			.barNav li{
				float:left;
				border-right:1px solid #DEDEDE;
				padding:4px 0;
				font-size:1.4rem;
				color:#9C9C9C;
				text-align:center;
			}
			.mui-icon{
				font-size:1.4rem;
			}
			.searchData{
				margin: 15px 15px 0;
			}
			/*#accept,
			#goReport{				
				background:#299CEF;
				border-color:#299CEF;
				-webkit-transition: all 0.5s;
				transition: all 0.5s;
			}*/
			.fault{
				background:#FFF;
				padding:15px;
			}
			.faulter{
				padding:0 30px;
				list-style:none;
			}
			.deal{
				padding:0px 15px;
				background:#FFF;
				line-height:23px;
			}
			/*.dealer{
				font-size:1.4rem;
				font-weight:500;
				color:#222222;
			}*/
			.accepter{
				background:#DEDEDE !important;
				border-color:#DEDEDE !important;
				color:#FFF !important;
			}
			
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">安防预警详情</h1>
		</header>
		<nav id="bottom_bar" class="mui-bar mui-bar-tab barLine">
			<div style="padding:8px 0;" id="btooTmpl">
				<!--底部信息-->
			</div>
		</nav>
		<div class="mui-content">
			<div class="mui-col-xs-12 dataList pb50">
				<div class="mui-col-xs-12" id="dealTmpl">
					<!--头部详情部分-->	
				</div>
				<div class="mui-col-xs-12" id="posoneTmpl">
					<!--人员信息部分-->
				</div>
				<div class="mui-col-xs-12 line1" id="dataDault">
					<!--流程部分-->
				</div>
			</div>
		</div>
		<script id="btooTmp" type="text/html">
			{{if eventProcessStatus =='1'}}
			<a id="accept" class="mui-tab-item mui-active">
				<span class="mui-tab-label">{{responseTime | toGet}}</span>
			</a>
			{{else if eventProcessStatus =='2'}}
			<a id="goReport" data-state="{{responseTime}}" class="mui-tab-item mui-active">
				<span class="mui-tab-label">处理</span>
			</a>
			{{else if eventProcessStatus =='3'&&eventProgress =='4'}}
			<a id="goSecurity" data-url="security.html" class="mui-tab-item mui-active">
				<span class="mui-tab-label">故障告警</span>
			</a>
			{{/if}}
		</script>
		<!--信息部分-->
		<script id="dealTmp" type="text/html">
			<div class="message-top-pannel">
				<div class="message-top-box">
					<div class="message-padding clearfix">
						<span class="mb5 mr10 icon iconfont icon-menjinxitong mui-pull-left comlogo {{warningLevel | colorFormat}}"></span>
						<div class="message-info-group mb5">
							<div class="message-info-list clearfix">
								<div class="message-add comFont_color">
									处理状态：{{eventProcessStatus | dealerFormat}}
								</div>
								<span class="message-level">
									{{if warningLevel == 0}}
									    <span class="scilFont scileLow">低</span>
									{{else if warningLevel == 2}}
									    <span class="scilFont scileMiddle">中</span>
									{{else}}
									    <span class="scilFont scileHeight">高</span>
									{{/if}}
								</span>
							</div>
							<div class="message-info-box com_detail_color">
								告警编号：{{alarmNumber}}
							</div>
						</div>
						<div class="btnLine mb5"></div>
						<ul class="com_detail_color">
							<li>告警位置：{{buildingName}}</li>
							<li>告警描述：{{eventDescribe}}</li>
							<li>处理报告：{{if handleTime==''}}未处理{{else}}{{handleOpinion}}{{/if}}</li>
						</ul>
					</div>					
				</div>	
			</div>
		</script>
		<!--人员信息部分-->
		<script id="posTpl" type="text/html">
			<ul class="mui-table-view" style="position: relative">
				<li id="goDetail" class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<span class="mui-media-object mui-pull-left mui-icon mui-icon-contact" style="font-size:40px;color:#1F95DD;"></span>
						<div class="mui-media-body">
							{{response}}
							<p class='mui-ellipsis'>{{response}}</p>
						</div>
					</a>
					<img id="phone" src="../../image/phone.png" data-phone="{{responsePhone}}" />
				</li>
			</ul>
		</script>
		<!--流程部分-->
		<script id="dataTmpl" type="text/html">
			<div class="line">
				<span class="end {{handleTime | sFormat:'2'}}"></span>
			</div>
			<div class="mui-col-xs-12 clearfix mb10">
				<span class="com_squ {{applyTime | sFormat:'2'}}"></span>
				<div class="mui-col-xs-2 fl"></div>
				<div class="mui-col-xs-10 bubble fr {{applyTime | sFormat:'1'}}">
					<dl class="com_dt">
						<dt class="clearfix">
							通知
							<span class="mui-pull-right comFont_color">{{applyTime}}</span>
						</dt>
						<dd class="comFont_color">
							安保员:全员
						</dd>
					</dl>
				</div>
			</div>
			<div class="mui-col-xs-12 clearfix mb10">
				<span class="com_squ {{responseTime | sFormat:'2'}}"></span>
				<div class="mui-col-xs-2 fl"></div>
				<div class="mui-col-xs-10 bubble fr {{responseTime | sFormat:'1'}}">
					<dl class="com_dt">
						<dt class="clearfix">
							抢单
							<span class="mui-pull-right comFont_color">{{responseTime}}</span>
						</dt>
						{{if responseTime ==''||responseTime == null}}
							<dd class="comFont_color">
								暂无记录!
							</dd>
						{{else}}
							<dd class="comFont_color">
								{{response}}
							</dd>
						{{/if}}
					</dl>
				</div>
			</div>
			<div class="mui-col-xs-12 clearfix mb10">
				<span class="com_squ {{handleTime | sFormat:'2'}}"></span>
				<div class="mui-col-xs-2 fl"></div>
				<div class="mui-col-xs-10 bubble fr {{handleTime | sFormat:'1'}}">
					<dl class="com_dt">
						<dt class="clearfix">
							处理
							<span class="mui-pull-right comFont_color">{{handleTime}}</span>
						</dt>
						{{if handleTime ==''||handleTime == null}}
							<dd class="comFont_color">
								暂无记录!
							</dd>
						{{else}}
							<dd class="comFont_color">
								{{response}}
							</dd>
						{{/if}}
					</dl>
				</div>
			</div>
			<div class="mui-col-xs-12 clearfix mb10">
				<span class="com_squ1 {{handleTime | sFormat:'2'}}"></span>
				<div class="mui-col-xs-2 fl"></div>
				<div class="mui-col-xs-10 bubble fr {{handleTime | sFormat:'1'}}">
					<dl class="com_dt">
						<dt class="clearfix">
							已完成
							<span class="mui-pull-right comFont_color">{{handleTime}}</span>
						</dt>
						{{if handleTime ==''||handleTime == null}}
							<dd class="comFont_color">
								暂无记录!
							</dd>
						{{else}}
							<dd class="comFont_color">
								{{eventProgress | toState}}
							</dd>
						{{/if}}
					</dl>
				</div>
			</div>	
		</script>	   
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js"></script>
		<script	src="../../js/mask/mask.js"></script>
		<script src="../../js/mui.conf.js"></script>
		<script src="../../js/home/securityAlarmDetail.js"></script>
	</body>
</html>
