<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>安防预警详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/mask/mask.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/new.css"/>
		<link rel="stylesheet" href="../../fonts/iconfont.css">
		<style>
			.barNav{
				list-style: none;
				background: #FFFFFF;
				padding:5px 0;
				margin-bottom:10px;
				border-top:1px solid #DEDEDE;
				border-bottom:1px solid #DEDEDE;
			}
			.barNav li{
				float:left;
				border-right:1px solid #DEDEDE;
				padding:4px 0;
				font-size:1.4rem;
				color:#9C9C9C;
				text-align:center;
			}
			.mui-icon{
				font-size:1.4rem;
			}
			.searchData{
				margin: 15px 15px 0;
			}
			#accept,
			#goReport{				
				background:#299CEF;
				border-color:#299CEF;
				-webkit-transition: all 0.5s;
				transition: all 0.5s;
			}
			.fault{
				background:#FFF;
				padding:15px;
			}
			.faulter{
				padding:0 30px;
				list-style:none;
			}
			.deal{
				padding:0px 15px;
				background:#FFF;
				line-height:23px;
			}
			/*.dealer{
				font-size:1.4rem;
				font-weight:500;
				color:#222222;
			}*/
			.accepter{
				background:#DEDEDE !important;
				border-color:#DEDEDE !important;
				color:#FFF !important;
			}
		</style>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">安防预警详情</h1>
		</header>
		<div class="mui-content">
			<div class="mui-col-xs-12 mb5 dataList">
				<div class="mui-col-xs-12" id="dealTmpl">
					<!--头部详情部分-->
					<div class="message-top-pannel">
						<div class="message-top-box">
							<div class="message-padding clearfix">
								<img class="mui-pull-left mb5" src="../../image/icon1.png" alt="icon1" width="40" style="margin-right:10px;"/>
								<div class="message-info-group mb5">
									<div class="message-info-list">
										<div class="message-add comFont_color">
											处理状态：已处理
										</div>
										<span class="message-level">
											<span class="scileHeight" style="display:inline-block;width:20px;height:20px;line-height:20px;color:#FFF;text-align:center;font-size:1.2rem;">低</span>
										</span>
									</div>
									<div class="message-info-box com_detail_color">
										告警编号：FXABACBAGAO123
									</div>
								</div>
								<div class="mb5" style="background:#DEDEDE;height:1px;overflow:hidden;width:100%;"></div>
								<ul style="font-size:1.2rem;" class="com_detail_color">
									<li>告警位置：cc-1客户楼栋</li>
									<li>告警描述：非法闯入</li>
									<li>处理报告：设备故障，已转故障告警流程</li>
								</ul>
							</div>					
						</div>	
					</div>
				</div>
				<div class="mui-col-xs-12">
					<ul class="mui-table-view" style="position: relative">
						<li id="goDetail" class="mui-table-view-cell mui-media">
							<a class="mui-navigate-right" href="javascript:;">
								<span class="mui-media-object mui-pull-left mui-icon mui-icon-contact" style="font-size:40px;color:blue;"></span>
								<div class="mui-media-body">
									李国庆
									<p class='mui-ellipsis'>保安员/保安队长</p>
								</div>
							</a>
							<span id="phone" style="display:inline-block;position:absolute;width:30px;height:30px;background:blue;right:35px;top:50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);"></span>
						</li>
					</ul>
				</div>
				<div class="mui-col-xs-12 fault">
					<ul class="mui-col-xs-12 faulter" id="dataDault">
						<!--流程部分-->
						<li class="process-list-pannel clearfix">
							<div class="porcess-pannel-list">
								<span class="porcess-title-icon">1</span>
						    	<div class="porcess-title-name-pannel">		    		
						    		<h4 class="porcess-title-name">						
										通知
									</h4>
									<div class="mui-col-xs-12 faultBox porcess-title-name-body">
										{{include 'noticeList' value}} 
									</div>
						    	</div>	    
							</div>					
						</li>
					</ul>
					
				</div>
			</div>
		</div>
		<!--信息部分-->
		<script id="dealTmp" type="text/html">
			<div class="message-top-pannel">
				<div class="message-top-box">
					<div class="message-padding clearfix">
						<i class="icon iconfont messgae-icon-title"><!--&#xe61c;-->{{deviceName}}</i>
						<div class="message-info-group">
							<div class="message-info-list">
								<div class="message-add">
									{{buildingName}}
								</div>
								<span class="message-level">
									{{if warningLevel == 0}}
									    <span class="scile scileLow"></span>
										<span class="sileSize sileLow">低</span>
									{{else if warningLevel == 2}}
									    <span class="scile scileMiddle"></span>
										<span class="scile scileMiddle"></span>
										<span class="sileSize sileMiddle">中</span>
									{{else}}
									    <span class="scile scileHeight"></span>
										<span class="scile scileHeight"></span>
										<span class="scile scileHeight"></span>
										<span class="sileSize sileHeight">高</span>
									{{/if}}
								</span>
							</div>
							<div class="message-info-box">
								{{eventDescribe}}
							</div>
						</div>
					</div>					
				</div>	
			</div>
			<div class="fault-pannel">
			<div class="mui-col-xs-12 deal clearfix">
				<div class="mui-col-xs-12 dealer fl pannel-title">
					安防处理
				</div>
				<div class="btn-group-pannel clearfix">
					{{if eventProgress=='1'}}
					<button class="mui-btn mui-btn-red btn-accepct-btn" id="accept" type="button">
						<i class="iconfont">&#xe625;</i>接受
					</button>
					{{else}}
					<button class="mui-btn mui-btn-red accepter btn-accepct-btn" type="button">
						<i class="iconfont">&#xe627;</i>已接受
					</button>
					{{/if}}
					
					{{if eventProgress=='1'||eventProgress=='2'}}
					<button class="mui-btn mui-btn-red btn-accepct-btn" data-state="{{responseTime}}" id="goReport" type="button">
						<i class="iconfont">&#xe626;</i>勘察报告
					</button>
					{{else}}
					<button class="mui-btn mui-btn-red accepter btn-accepct-btn"  type="button">
						<i class="iconfont">&#xe626;</i>勘察报告
					</button>
					{{/if}}

				</div>
			</div>
			</div>
		</script>
		<!--流程部分-->
		<script id="dataTmpl" type="text/html">
			<li class="process-list-pannel clearfix">	
				<div class="porcess-pannel-list">
					<span class="porcess-title-icon">1</span>
			    	<div class="porcess-title-name-pannel">		    		
			    		<h4 class="porcess-title-name">						
							通知
						</h4>
						<div class="mui-col-xs-12 faultBox porcess-title-name-body">
							{{include 'noticeList' value}} 
						</div>
			    	</div>	    
				</div>					
			</li>
			<li class="process-list-pannel clearfix" >	
				<div class="porcess-pannel-list">
					<span class="porcess-title-icon">2</span>
			    	<div class="porcess-title-name-pannel">		    		
			    		<h4 class="porcess-title-name">						
							抢单
						</h4>
						<div class="mui-col-xs-12 faultBox porcess-title-name-body">
							{{include 'confimList' value}} 
						</div>
			    	</div>	    
				</div>					
			</li>
			<li class="process-list-pannel clearfix" >	
				<div class="porcess-pannel-list">
					<span class="porcess-title-icon">3</span>
			    	<div class="porcess-title-name-pannel">		    		
			    		<h4 class="porcess-title-name">						
							处理
						</h4>
						<div class="mui-col-xs-12 faultBox porcess-title-name-body">
							{{include 'dealList' value}} 
						</div>
			    	</div>	    
				</div>					
			</li>		
			<li class="process-list-pannel clearfix" >	
				<div class="porcess-pannel-list">
					<span class="porcess-title-icon">4</span>
			    	<div class="porcess-title-name-pannel border-none">		    		
			    		<h4 class="porcess-title-name">						
							完成
						</h4>
						<div class="mui-col-xs-12 faultBox porcess-title-name-body">
							{{include 'completeList' value}} 
						</div>
			    	</div>	    
				</div>					
			</li>	
		</script>
		<script type="text/html" id="noticeList">
	     	{{each notice}}
				<div class="mui-col-xs-12 faultUser">
					{{if $value.applyTime==''||$value.applyTime==null}}
						<span>暂无记录！</span>
					{{else}}
						<span>
							时间：{{$value.applyTime}}
						</span>
						<span>
							安保员:全部
						</span>
					{{/if}}
				</div>
			{{/each}}
	    </script>
	    <script type="text/html" id="confimList">
	     	{{each confim}}
				<div class="mui-col-xs-12 faultUser">
					{{if $value.responseTime==''||$value.responseName==null}}
						<span>暂无记录！</span>
					{{else}}
						<span>
							时间：{{$value.responseTime}}
						</span>
						<span>
							<!--安保人：-->
							{{$value.response}}
						</span>
					{{/if}}
				</div>
			{{/each}}
	    </script>	   
	    <script type="text/html" id="dealList">
	     	{{each deal}}
				<div class="mui-col-xs-12 faultUser">
					{{if $value.handleTime ==''||$value.handName == null}}
						<span>暂无记录！</span>
					{{else}}
						<span>
							时间：{{$value.handleTime}}
						</span>
						<span>
							{{$value.response}}
						</span>
					{{/if}}
				</div>
			{{/each}}
	    </script>
	     <script type="text/html" id="completeList">
	     	{{each complete}}
				<div class="mui-col-xs-12 faultUser">
					{{if $value.handleTime ==''||$value.handName == null}}
						<span>暂无记录！</span>
					{{else}}
						<span>
							{{if $value.eventProgress =='4'}}转故障<br/>{{/if}}
							时间：{{$value.handleTime}}
						</span>
						<span>							
							描述：{{$value.handleOpinion }}
						</span>
					{{/if}}
				</div>
			{{/each}}
	    </script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js"></script>
		<script	src="../../js/mask/mask.js"></script>
		<script src="../../js/mui.conf.js"></script>
		<script>
			mui.init();
			mui.plusReady(function(){
				//获取登录信息
				var isLogin = plus.storage.getItem("userInfo");
				//预加载
				var reportPage = null;
				if(!reportPage){
					reportPage = mui.preload({
					    id:'securityAlarmReport',
				    	url:'securityAlarmReport.html'
					});
				}
				var warningEventId;
				var warningCategoryId;
				//添加newId自定义事件监听
				window.addEventListener('detailId',function(event){
					warningEventId = event.detail.warningEventId;
					warningCategoryId = event.detail.warningCategoryId;
					//信息部分
					if(warningCategoryId==undefined) warningCategoryId="";
				 	res(warningEventId,warningCategoryId,1,1);
				});
				
				//渲染刷新部分
				/**
				 * eventProgress  3代表已接受 ，1
				 * updateOrDetail 1，详情，2，接受
				 */
				function res(warningEventId,warningCategoryId,updateOrDetail,eventProgress){
					console.log("详情告警ID:"+warningEventId);
					console.log("详情告警ID:"+warningCategoryId);
					console.log("详情告警ID:"+updateOrDetail);
					console.log("详情事件级别ID:"+eventProgress);
					qmask.show();
					mui.ajax({
						type: "post",
						url: global_url+"/cwp/front/sh/warningEvent!execute",
						async: true,
						data: {
							uid:"c025",
							warningEventId:warningEventId,
							warningCategoryId:warningCategoryId,
							updateOrDetail:updateOrDetail,
							responseOfficerId:JSON.parse(isLogin).userId,
							eventProgress:eventProgress
						},
						dataType: "json",
						timeout: 1000000,
						success: function(data) {							
							if(updateOrDetail==1){
								mui.toast('查询成功!');
							}else{
								mui.toast('接受成功!');
							}
							var oDeal = document.getElementById('dealTmpl');
							var oDault = document.getElementById('dataDault');
							var dealHtml = template('dealTmp', data.bean)
							//oDeal.innerHTML = dealHtml;
							//数据重组
							var tempObj = {}; 
							var notice = [];   //通知
							var confim = [];   //确认
							var deal = [];     //处理
							var complete=[];	//完成
//							if(data.beans.length!=0){
//								for(var i=0;i<data.beans.length;i++){
//									if(data.beans[i].eventProgress=="1"){
//										//通知
//										notice.push(data.beans[i]);
//									}else if(data.beans[i].eventProgress=="2"){
//										//确认
//										confim.push(data.beans[i]);
//									}else if(data.beans[i].eventProgress=="3"){
//										//处理
//										deal.push(data.beans[i]);
//									}else{
//										//完成
//										complete.push(data.beans[i]);
//									}
//								}
//							}
							
							if(data.bean!=null){
								switch(data.bean.eventProgress){
									case "1":
										notice.push(data.bean);
										break;
									case "2":
										notice.push(data.bean);
										confim.push(data.bean);										
										break;
									case "3":
										notice.push(data.bean);
										confim.push(data.bean);
										deal.push(data.bean);
										complete.push(data.bean);
										break;
									case "4":
										notice.push(data.bean);
										confim.push(data.bean);
										deal.push(data.bean);
										complete.push(data.bean);
										break;
								};
							}
							tempObj.notice = notice;
							tempObj.confim = confim;
							tempObj.deal = deal;
							tempObj.complete = complete;
							var daultHtml = template('dataTmpl', tempObj);
							//oDault.innerHTML = daultHtml;
							//预加载子页面
							console.log(reportPage);
							mui.fire(reportPage, 'getReport', {
							    result:data.bean
							});
							qmask.hide();
						},
						error: function(xhr, type, errorThrown) {
							if(type=='timeout'){
								mui.toast('请求超时:请检查网络!');
							}else if(updateOrDetail==1){
								mui.toast('查询失败!');
							}else{
								mui.toast('接受失败!');
							}
							qmask.hide();
							return;
						}
					});
				}
				
				//接收工单
				function order(warningEventId,warningCategoryId,updateOrDetail,eventProgress){
					qmask.show();
					mui.ajax({
						type: "post",
						url: global_url+"/cwp/front/sh/warningEvent!execute",
						async: true,
						data: {
							uid:"c025",
							warningEventId:warningEventId,
							warningCategoryId:warningCategoryId,
							updateOrDetail:updateOrDetail,
							responseOfficerId:JSON.parse(isLogin).userId,
							eventProgress:eventProgress							
						},
						dataType: "json",
						timeout: 1000000,
						success: function(data) {
							console.log(data);
							if(data.returnCode==0){
								res(warningEventId,warningCategoryId,1,2);
								mui.toast('接受成功!');
							}else{
								mui.toast('接受失败!');
							}						
							qmask.hide();
						},
						error: function(xhr, type, errorThrown) {
							if(type=='timeout'){
								mui.toast('请求超时:请检查网络!');
							}else if(updateOrDetail==1){
								mui.toast('查询失败!');
							}else{
								mui.toast('接受失败!');
							}
							qmask.hide();
							return;
						}
					});
				}
				
				//调用电话
				mui('.mui-content').on('tap', '#phone', function(e) {
					e.stopPropagation();
					if(window.plus){
						toPhone();
					}else{
						document.addEventListener("plusready",toPhone(),false);
					}
					return false;
				});
				function toPhone(){
					plus.device.dial( "10086", false);
				}
				
				//跳转到详情页面
				mui('.mui-content').on('tap', '#goDetail', function(e) {
					console.log(1);
				});
				//跳转勘察报告
				mui('.mui-content').on('tap', '#goReport', function(e) {
					var state = this.getAttribute('data-state');
					if(state==''||state==null){
						mui.toast('请先接受工单!');
						return;
					}
					mui.openWindow({
						url: 'securityAlarmReport.html',
						id: 'securityAlarmReport',
						waiting: {
							autoShow: false
						}
					});
				});
				//接受工单
				mui('.mui-content').on('tap', '#accept', function(e) {
					var dataHtml = this.innerHTML;				
					if(dataHtml.indexOf("接受")>-1){
						order(warningEventId,warningCategoryId,2,2);
					}else{
						mui.toast('该工单已接受,请勿重复点击！');
					}
				});
			});
		</script>
	</body>
</html>
