<!--
	作者：yeshengqiang	
	时间：2016-06-27
	描述：故障告警
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>消息</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/new.css"/>
		<style>
			.barNav{
				list-style: none;
				background: #FFFFFF;
				padding:5px 0;
				margin-bottom:10px;
				border-top:1px solid #DEDEDE;
				border-bottom:1px solid #DEDEDE;
			}
			.barNav li{
				float:left;
				border-right:1px solid #DEDEDE;
				padding:4px 0;
				font-size:1.4rem;
				color:#9C9C9C;
				text-align:center;
			}
			.mui-icon{
				font-size:1.4rem;
			}
			.searchData{
				margin: 15px 15px 0;
			}
		</style>
	</head>
	<body>
		<!--内容部分-->
		<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
			<div class="mui-scroll">
				<!--搜索部分-->
				<!--<div class="mui-content-padded searchData">
					<div class="mui-input-row mui-search">
						<input type="search" class="mui-input-clear" placeholder="请输入关键字" />
					</div>
				</div>
				<ul class="mui-col-xs-12 barNav clearfix">
					<li class="mui-col-xs-3">排序
						<span class="mui-icon mui-icon-arrowdown"></span>
					</li>
					<li class="mui-col-xs-3">类别
						<span class="mui-icon mui-icon-arrowdown"></span>
					</li>
					<li class="mui-col-xs-3">未恢复
						<span class="mui-icon mui-icon-arrowdown"></span>
					</li>
					<li class="mui-col-xs-3" style="border:none;">与我相关
						<span class="mui-icon mui-icon-arrowdown"></span>
					</li>
				</ul>-->
				<div class="mui-col-xs-12" id="list"></div>
			</div>
		</div>
		<script id="detailTmpl" type="text/html">
			{{each beans}}
				<div class="mui-col-xs-12 mb5 dataList list-pannel">
					<h3 class="list-title">{{$value.deviceName}}
						<span class="emergency mui-pull-right">
							{{if $value.warningLevel == 0}}
							    <span class="scile scileLow"></span>
								<span class="sileSize sileLow">低</span>
							{{else if $value.warningLevel == 2}}
							    <span class="scile scileMiddle"></span>
								<span class="scile scileMiddle"></span>
								<span class="sileSize sileMiddle">中</span>
							{{else}}
							    <span class="scile scileHeight"></span>
								<span class="scile scileHeight"></span>
								<span class="scile scileHeight"></span>
								<span class="sileSize sileHeight">高</span>
							{{/if}}
						</span>
					</h3>
					<div class="mui-col-xs-12 muiDetail list-body">
						{{$value.eventDescribe}}
					</div>
					<div class="mui-col-xs-12 muiDetail">				
					    {{if $value.eventProcessStatus == 1}}
						    <span class="btnState redColor font1rem">未恢复</span>
						{{else if $value.eventProcessStatus == 2}}
						    <span class="btnState blueColor font1rem">处理中</span>
						{{else}}
						    <span class="btnState greenColor font1rem">已恢复</span>
						{{/if}}
						<span class="Timecolor">{{$value.applyTime}}</span>
						<a data-id="{{$value.warningEventId}}" data-uid="{{$value.warningCategoryId}}" class="mui-pull-right goToDel list-link-a" href="javascript:void(0);">
							查看详情
							<span class="mui-icon mui-icon-arrowright"></span>
						</a>
					</div>
				</div>
		    {{/each}}		
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/mui.conf.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						callback: pullupRefresh
					}
				}
			});
			var userId;
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				//预加载
				var messagedetail = null;
				if(!messagedetail){
					messagedetail = mui.preload({
					     url:"../task/messagedetail.html",
					     id:"messagedetail"
					});
				}
				var isLogin = plus.storage.getItem("userInfo");
				if(isLogin){
					userId = JSON.parse(isLogin).userId;
					getProductList(userId);
				}
				/**
				 * 跳转到详情页面
				 */
				var detailPage = null;
				mui('.mui-content').on('tap', '.goToDel', function(e) {
					var warningEventId = this.getAttribute("data-id");
					var warningCategoryId = this.getAttribute("data-uid");
					//自定义事件
					mui.fire(messagedetail,'detailId',{
					    warningEventId:warningEventId,
					    warningCategoryId:warningCategoryId
					});
					//打开页面
					mui.openWindow({
					  id:'messagedetail'
					});
				});
				
				/*
				 * 添加自定义事件，用于登录后刷新数据；
				 */
				window.addEventListener("getMessage",function(event){
					userId = event.detail.isLogin.userId;
					getProductList(userId);
				});
			});
			var count = 0;
			var page = 1;
			//var abData;
			//var mark = false;
			//渲染数据
			function getProductList(userId) { //获取工单列表
				mui.ajax({
					url: global_url+"/cwp/front/sh/warningEvent!execute",
					type: "post",
					async: true,
					data: {
						uid: 'c019',
						currentPage:page,
						pageSize:'5',
						responseOfficerId:userId,
						eventType:3
					},
					dataType: "json",
					timeout: 20000,
					success: function(data) {
						var oList = document.getElementById("list");
						var html = template('detailTmpl', data);
						//abData = data
						//mark = true;
						oList.innerHTML += html;
					},
					error: function(xhr, type, errorThrown) {
						if(type=='timeout'){
							console.log('message');
							mui.toast('请求超时:请检查网络!');
						}else {
							mui.toast('数据加载失败');
						}
						
					}
				});
			}
			
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					page++;
					getProductList(userId);
				}, 1500);
			}
			if (mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
			
		</script>
	</body>
</html>

