<!--
	作者：yeshengqiang	
	时间：2016-06-27
	描述：安防预警列表
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>安防告警</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/mask/mask.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/new.css"/>
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">安防告警</h1>
		</header>
		<!--内容部分-->
		<div class="mui-content">
				<div id="slider" class="mui-slider">
					<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
						<a class="mui-control-item mui-active" href="#untreated">未处理</a>
						<a class="mui-control-item" href="#processing">处理中</a>
						<a class="mui-control-item" href="#processed">已处理</a>
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
					<div class="mui-slider-group">
						<div id="untreated" data-state="1" class="mui-slider-item mui-control-content mui-active">
							<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
								<div class="mui-scroll">
									<div class="mui-col-xs-12" id="untreatedList">
											<!--<div class="mui-col-xs-12 mb5 list-pannel">	
													<div class="icon iconfont icon-menjinxitong redColor"></div>
													<h3 class="list-title clearfix" style="padding: 0;">HWZJ201607201154123	
														<span class="btnState  blueColor mui-pull-right">处理完</span>
													</h3>
													<div class="mui-col-xs-12 muiDetail">
														CC-1客服楼东：非法闯入
													</div>
													<div class="mui-col-xs-12 muiDetail clearfix">															
														<div class="fl goToDel list-link-a" href="javascript:void(0);">
															告警通知
														</div>
														<div class="Timecolor fr">2016-07-22 16:03:07</div>
													</div>
											</div>
											<div class="mui-col-xs-12 mb5 list-pannel">				
													<div class="icon iconfont icon-menjinxitong blueColor"></div>
													<h3 class="list-title clearfix" style="padding: 0;">HWZJ201607201154123	
														<span class="btnState  blueColor mui-pull-right">处理完</span>
													</h3>
													<div class="mui-col-xs-12 muiDetail">
														CC-1客服楼东：非法闯入
													</div>
													<div class="mui-col-xs-12 muiDetail clearfix">															
														<div class="fl goToDel list-link-a" href="javascript:void(0);">
															告警通知
														</div>
														<div class="Timecolor fr">2016-07-22 16:03:07</div>
													</div>
											</div>-->
									</div>
								</div>
							</div>
						</div>
						<div id="processing" data-state="2" class="mui-slider-item mui-control-content">
							<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
								<div class="mui-scroll">
									<div class="mui-col-xs-12 mui-text-center" id="processingList">
										<div class='mui-loading'>
											<div class='mui-spinner'></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="processed" data-state="3" class="mui-slider-item mui-control-content">
							<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
								<div class="mui-scroll">
									<div class="mui-col-xs-12 mui-text-center" id="processedList">
										<div class='mui-loading'>
											<div class='mui-spinner'></div>
										</div>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>
		</div>
		
		
		<script id="detailTmpl" type="text/html">
			{{each beans}}
				<div class="mui-col-xs-12 mb5 list-pannel clearfix">	
						{{if $value.warningLevel == 0}}
							<div class="icon iconfont icon-menjinxitong blueColor"></div>
						{{else if $value.warningLevel == 1}}
						    <div class="icon iconfont icon-menjinxitong yellowColor"></div>
						{{else if $value.warningLevel == 2}}
						    <div class="icon iconfont icon-menjinxitong orangeColor"></div>
						{{else}}
						   	<div class="icon iconfont icon-menjinxitong redColor"></div>
						{{/if}}
						<h3 class="list-title clearfix" style="padding: 0;">							
							{{if $value.alarmNumber != ""}}
									{{$value.alarmNumber}}
							{{else}}
							    	HWZJ201607201154123
							{{/if}}			
							<a data-id="{{$value.warningEventId}}" data-uid="{{$value.warningCategoryId}}" class="mui-pull-right goToDel list-link-a" href="javascript:void(0);">
								查看详情
								<span class="mui-icon mui-icon-arrowright"></span>
							</a>
						</h3>
						<div class="mui-col-xs-12 muiDetail">
							{{$value.eventDescribe}}
						</div>
						<div class="mui-col-xs-12 muiDetail clearfix">															
							<div class="fl goToDel list-link-a" href="javascript:void(0);">		
									{{if $value.eventProcessStatus == 1}}
							    			告警通知
									{{else if $value.eventProcessStatus == 2}}
									    	处理中
									{{else}}
									    	已恢复
									{{/if}}					
							</div>
							<div class="Timecolor fr">{{$value.applyTime}}</div>
						</div>
				</div>
		    {{/each}}		
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/mask/mask.js"></script>
		<script src="../../js/mui.conf.js"></script>
		<script type="text/javascript" charset="utf-8">
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					up: {
						auto:true,
						callback: pullupRefresh
					}
				},
				preloadPages:[{                     //预加载页面		
				    id:'securityAlarmDetail',
				    url:'../task/securityAlarmDetail.html'
				}]
			});
			
			mui.plusReady(function() {
				var self = plus.webview.currentWebview();
				var isLogin = plus.storage.getItem("userInfo");
				var userId=JSON.parse(isLogin).userId;
				var userRole=JSON.parse(isLogin).role[0].roleId;
				console.log("用户ID:"+userId)
				console.log("角色ID:"+userRole);
				var resHeight = window.innerHeight - 84;
				mui('.mui-control-content').each(function(){
					this.setAttribute("style","min-height:"+resHeight+"px;");
					var isActive = this.classList.contains('mui-active') ? true : false;
					if(isActive){
						var state = this.getAttribute('data-state');
						getProductList(state,'');
					}
				});
				
				var processing = document.getElementById("processing");;
				var processed = document.getElementById("processed");
				document.getElementById('slider').addEventListener('slide', function(e) {			
					if (e.detail.slideNumber === 1) {
						if (processing.querySelector('.mui-loading')) {
							if(JSON.parse(isLogin).role!=""||JSON.parse(isLogin).role!=0){
								for(var i = 0; i < JSON.parse(isLogin).role.length; i++){
									if(userRole=='8'||userRole=='12'){
										getProductList(2);
									}
									else if(userRole=='6'){
										getProductList(2,userId);
									}	
								}
							}
						
						}
					} else if (e.detail.slideNumber === 2) {
						if (processed.querySelector('.mui-loading')) {
							for(var i = 0; i < JSON.parse(isLogin).role.length; i++){
									if(userRole=='8'||userRole=='12'){
										getProductList(3,'');
									}
									else if(userRole=='6'){
										getProductList(3,userId);
									}	
							}
						}
					}
				});
				
				mui('.mui-scroll-wrapper').scroll({
			        indicators: true //是否显示滚动条
			    });
				/**
				 * 跳转到详情页面
				 */
				var detailPage = null;
				mui('.mui-content').on('tap', '.goToDel', function(e) {
					qmask.show();
					var warningEventId = this.getAttribute("data-id");
					var warningCategoryId = this.getAttribute("data-uid");
					//判断是否有这个页面
					if(!detailPage){
					    detailPage = plus.webview.getWebviewById('securityAlarmDetail');
					}
					//自定义事件
			
					mui.fire(detailPage,'detailId',{
					    warningEventId:warningEventId,
					    warningCategoryId:warningCategoryId
					});
					setTimeout(function() {
						qmask.hide();
					}, 200);
					//打开页面
					mui.openWindow({
					  id:'securityAlarmDetail',
					  waiting: {
						autoShow: false
					  }
					});
				});
			});
			var page = 1;
			var mark = false;
			//渲染数据
			function getProductList(eventProcessStatus,userId) { //获取工单列表
				console.log("得到用户ID："+userId);
				qmask.show();
				mui.ajax({
					url: global_url+"/cwp/front/sh/warningEvent!execute",
					type: "post",
					async: true,
					data: {
						uid: 'c016',
						currentPage:page,
						pageSize:'5',
						dictValue:'', 
						eventProcessStatus:eventProcessStatus,
						eventType:2,
						responseOfficerId:userId
					},
					dataType: "json",
					timeout: 1000000,
					success: function(data) {
						var getId="";		
						var oList = "";
						switch(eventProcessStatus){
							case 1:	
//								getId="untreatedList";
								oList = document.getElementById("untreatedList");
								break;
							case 2:		
//								getId="processingList";
								oList = document.getElementById("processingList");
								break;
							case 3:
//								getId="processedList";	
								oList = document.getElementById("processedList");
								break;
						}

						var html = template('detailTmpl', data);
						oList.innerHTML = html;
						if(data.beans instanceof Array && data.beans.length<5){
							mark = true;
							mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
							setTimeout(function(){
//								mui.toast('没有更多数据了!');
								var tipHtml="<div class=t-norecord><i class='icon iconfont icon-baogaoyichuangjian'></i><p>暂无数据记录</p></div>";
								switch(eventProcessStatus){
									case 1:			
										document.getElementById("untreatedList").innerHTML=tipHtml;
										break;
									case 2:	
										document.getElementById("processingList").innerHTML=tipHtml;
										break;
									case 3:
										document.getElementById("processedList").innerHTML=tipHtml;
										break;
								}
							},500);
							qmask.hide();
							return;
						}
						qmask.hide();
					},
					error: function(xhr, type, errorThrown) {
						if(type=='timeout'){
							mui.toast('请求超时:请检查网络!');
						}else {
							mui.toast('数据加载失败!');
						}
						qmask.hide();
					}
				});
			}
			
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				if(!mark){
					qmask.show();
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().endPullupToRefresh(mark); //参数为true代表没有更多数据了。
						page++;
						getProductList(1,'');
					}, 1500);
				}
			}
			if (mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
			
		</script>
	</body>
</html>
