<!--
	作者：yeshengqiang	
	时间：2016-06-27
	描述：安防预警列表
-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>安防告警</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../js/mask/mask.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/add.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/new.css"/>
		<link rel="stylesheet" type="text/css" href="../../fonts/iconfont.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">安防告警</h1>
		</header>
		<!--内容部分-->
		<div class="mui-content">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item mui-active" href="#untreated">未处理</a>
					<a class="mui-control-item" href="#processing">处理中</a>
					<a class="mui-control-item" href="#processed">已处理</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="untreated" data-state="1" class="mui-slider-item mui-control-content mui-active">
						<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
							<div class="mui-scroll">
								<div class="mui-col-xs-12" id="untreatedList">
										
								</div>
							</div>
						</div>
					</div>
					<div id="processing" data-state="2" class="mui-slider-item mui-control-content">
						<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
							<div class="mui-scroll">
								<div class="mui-col-xs-12 mui-text-center" id="processingList">
									<div class='mui-loading'>
										<div class='mui-spinner'></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="processed" data-state="3" class="mui-slider-item mui-control-content">
						<div class="mui-content mui-scroll-wrapper" id="pullrefresh">
							<div class="mui-scroll">
								<div class="mui-col-xs-12 mui-text-center" id="processedList">
									<div class='mui-loading'>
										<div class='mui-spinner'></div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<script id="detailTmpl" type="text/html">
			{{each beans}}
				<div class="mui-col-xs-12 mb5 list-pannel clearfix">	
					{{if $value.warningLevel == 0}}
						<div class="icon iconfont icon-menjinxitong blueColor"></div>
					{{else if $value.warningLevel == 1}}
					    <div class="icon iconfont icon-menjinxitong yellowColor"></div>
					{{else if $value.warningLevel == 2}}
					    <div class="icon iconfont icon-menjinxitong orangeColor"></div>
					{{else}}
					   	<div class="icon iconfont icon-menjinxitong redColor"></div>
					{{/if}}
					<h3 class="list-title clearfix" style="padding: 0;">							
						{{if $value.alarmNumber != ""}}
								{{$value.alarmNumber}}
						{{else}}
						    	HWZJ201607201154123
						{{/if}}			
						<a data-id="{{$value.warningEventId}}" data-uid="{{$value.warningCategoryId}}" class="mui-pull-right goToDel list-link-a" href="javascript:void(0);">
							查看详情
							<span class="mui-icon mui-icon-arrowright"></span>
						</a>
					</h3>
					<div class="mui-col-xs-12 muiDetail">
						{{$value.eventDescribe}}
					</div>
					<div class="mui-col-xs-12 muiDetail clearfix">															
						<div class="fl goToDel list-link-a" href="javascript:void(0);">		
								{{if $value.eventProcessStatus == 1}}
						    			告警通知
								{{else if $value.eventProcessStatus == 2}}
								    	处理中
								{{else}}
								    	已恢复
								{{/if}}					
						</div>
						<div class="Timecolor fr">{{$value.applyTime}}</div>
					</div>
				</div>
		    {{/each}}		
		</script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/mask/mask.js"></script>
		<script src="../../js/mui.conf.js"></script>
		<script src="../../js/home/securityAlarm.js"></script>		
	</body>
</html>
